<div *ngIf="selectedArtist">
  <h2>
    {{selectedArtist.firstName | uppercase}} {{selectedArtist.lastName | uppercase}} was selected
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>


<h2>Artists</h2>
<ul class="artists">
  <li *ngFor="let artist of artists" [class.selected]="artist === selectedArtist" (click)="onSelect(artist)">
    id: {{artist.id}}<br>first name: {{artist.firstName}}<br>last name: {{artist.lastName}}
    <button (click)="onDelete(artist);$event.stopPropagation()">Delete</button>
  </li>
</ul>
